<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ACAD</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>academy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

    <!-- 🟢 การขอสิทธิ์การใช้งาน -->
    <key>NSCameraUsageDescription</key>
    <string>Origami ขอสิทธิ์การเข้าถึงกล้องเพื่อสแกนเอกสารโครงการและถ่ายภาพสำหรับรายงาน</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>Origami ขอสิทธิ์เข้าถึงคลังภาพของคุณเพื่อให้คุณอัปโหลดรูปภาพและเอกสารที่เกี่ยวข้องกับโครงการได้</string>

    <key>NSMicrophoneUsageDescription</key>
    <string>Origami ขอสิทธิ์เข้าถึงไมโครโฟนเพื่อเปิดใช้งานการบันทึกเสียงสำหรับการอัปเดตโครงการและการสื่อสารในทีม</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Origami ใช้ตำแหน่งของคุณเพื่อนำทางและระบุไซต์โครงการอย่างแม่นยำระหว่าง การใช้งาน</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Origami ขอสิทธิ์เข้าถึงตำแหน่งของคุณเพื่อใช้ในการระบุตำแหน่งโครงการและการติดตามข้อมูลที่เกี่ยวข้อง</string>

	<key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSAllowsArbitraryLoadsInWebContent</key>
        <true/>
    </dict>

    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
    </array>
</dict>
</plist>